body {
  background-color: #f3e0e0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.container h1 {
  margin-bottom: 40px;
}

.result-container {
  margin-top: 10px;
}

.result {
  margin-bottom: 5px;
}

.error {
  color: red;
}
